<%- include('../partials/header.ejs') %>

<main class="container">
    <h1 class="my-4">Tweet - Dashboard</h1>
    <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
        <h2 class="my-2">Your Posts</h2>
        <a href="/quiz/create" class="btn btn-primary">Create Post +</a>
    </div>
    <table class="table table-bordered">
        <tbody>
            <% for (const post of user.posts) { %>
      
                    <small><%= user.post.description %></small>
             
            <% } %>
        </tbody>
    </table>
</main>

<%- include('../partials/footer.ejs') %>